{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Press front heading') }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}"></a>
    <div class="clear-both"></div>

    <div>
        {% for news_article in news -%}
            {%- include 'article_content.j2' with context -%}
        {%- endfor %}
        <div class="ajax-insertion-point" data-url="{{ url_for('press.news_loading') }}"></div>
    </div>
{%- endblock %}