{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Press front heading') }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}"></a>
    <div class="clear-both"></div>

    <div class="breadcrumbs">
        <a href="{{ url_for('press.news') }}">{{ _('Press front heading') }}</a> | {{ article.title|truncate(30, '...') }}
    </div>

    <div class="press-card-date">
		{{ article.date_publishing|date }}
	</div>

	<h2 class="press-card-title">{{ article.title }}</h2>

    {% if article.photo and article.photo.original() -%}
        <div class="press-card-image">
            <div>
                <img src="{{ url_for('public', filename=article.photo.original()) }}">
            </div>
        </div>
    {%- endif %}
    {% if article.annotation -%}
	    <div class="press-card-announce">{{ article.annotation|safe }}</div>
    {%- endif %}
    {% if article.content -%}
	    <div class="press-card-description">{{ article.content|textile }}</div>
    {%- endif %}
{%- endblock %}