{% extends 'common.j2' %}

{% block content -%}
    {% for group in grouped_persons.values() if group['persons']|length > 0 -%}
        <h2>{{ group['position'].name }}</h2>

        {% for person in group['persons'] -%}
            <div class="person-list-person" style="background-image: url(/img/IMG_2671.jpg);">
                <h3 class="person-list-name">
                    <a href="{{ url_for('persons.person_card', slug=person.slug) }}">{{ person.fullname }}</a>
                </h3>
                <div class="person-list-position">
                    {{ person.positions_as_text() }}
                </div>
                {% if person.specialty -%}
                    <div class="person-list-specialty">
                        {{ person.specialty }}
                    </div>
                {%- endif %}
                {% if person.short_bio -%}
                    <div class="person-list-brief-cv">
                        {{ person.short_bio|textile }}
                    </div>
                {%- endif %}
            </div>
        {%- endfor %}
    {%- endfor %}
{%- endblock %}