{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/base.j2' import render_trash_icon %}
{% from 'admin/api/forms.j2' import render_field %}

{% block page_title %}{{ _('Articles list heading') }}{% endblock %}

{% block page_buttons %}
    <a href="{{ url_for('admin.articles_manage_article') }}" class="uk-button uk-button-primary">{{ _('Add button') }}</a>
{% endblock %}

{% block page_content %}
    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th>{{ _('Article title column') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if articles -%}
                {% for article in articles -%}
                    <tr>
                        <td>
                            {{ render_trash_icon(article.in_trash) }}
                            <a href="{{ url_for('admin.articles_manage_article', article_id=article.id) }}">{{ article.title }}</a>
                        </td>
                    </tr>
                {%- endfor %}
            {%- else -%}
                <tr><td><h3 class="uk-text-center uk-text-muted">{{ _('No articles found string') }}</h3></td></tr>
            {%- endif %}
        </tbody>
    </table>
{% endblock %}