{% macro render_field_error(field) -%}
    {% if field.errors -%}
        {% for err in field.errors -%}
            <div class="uk-text-danger">{{ err }}</div>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{% macro render_field(field, label=True, wrapper=True, disabled=False) -%}
    {% if field.widget.input_type == 'checkbox' -%}
        <span class="uk-form-label"></span>
        <div class="uk-form-controls uk-form-controls-text">
            {{ field(disabled="disabled") if disabled else field() }}
            {% if field.label.text -%}{{ render_required(field.flags.required) }}<label for="{{ field.id }}">{{ field.label.text }}</label>{%- endif %}
        </div>
    {%- else -%}
        {% if label and field.label.text -%}
            <label for="{{ field.id }}" class="uk-form-label">{{ field.label.text }}
                {{ render_required(field.flags.required) }}
            </label>
        {%- endif %}
        {% if wrapper -%}<div class="uk-form-controls">{%- endif %}
            {% if field.widget.input_type == 'password' -%}
                <div class="uk-form-password">
                    {{ field(disabled="disabled") if disabled else field() }}
                    <a href="" class="uk-form-password-toggle" tabindex="1" data-uk-form-password="{lblShow: '{{ _('Show') }}', lblHide: '{{ _('Hide') }}'}">{{ _('Show') }}</a>
                </div>
            {%- else -%}
                {{ field(disabled="disabled") if disabled else field() }}
            {%- endif %}
            {% if field.description -%}
                <div class="uk-form-help uk-text-muted">{{ field.description }}</div>
            {%- endif %}
            {% if field.errors -%}
                <p class="uk-form-help-block uk-text-danger">
                    {% for err in field.errors -%}
                        {{ err }}
                    {%- endfor %}
                </p>
            {%- endif %}
        {% if wrapper -%}</div>{%- endif %}
    {%- endif %}
{%- endmacro %}

{% macro render_required(required) -%}
    {% if required -%}
        &nbsp;<b class="uk-text-danger">*</b>&nbsp;
    {%- endif %}
{%- endmacro %}