{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/forms.j2' import render_field %}

{% block page_title %}{{ _('Settings heading') }}{% endblock %}
{% block form_action %}{{ url_for('admin.settings' ) }}{% endblock %}

{% block page_buttons %}
    <button class="uk-button uk-button-primary" type="submit">{{ _('Save button') }}</button>
{% endblock %}

{% block page_content -%}
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' -%}
        <div class="uk-form-row">
            {{ render_field(field, disabled=False) }}
        </div>
    {%- endfor %}
{%- endblock %}