<div class="book-list-item">
    <a href="{{ url_for('books.book_card', slug=book.slug) }}">
        {% if book.list_cover_url -%}
            <img src="{{ book.list_cover_url }}" />
        {%- endif %}
        <h2>{{ book.title }}</h2>
    </a>
    <div class="book-list-authors">
        {{ book.authors_list(front=True) }}
    </div>
    <div>
        {% if book.annotation -%}
            {{ book.annotation|textile }}
        {%- endif %}
    </div>
</div>