{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Books front heading') }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}"></a>
    <div class="clear-both"></div>

    <div>
        {% for book in books -%}
            {%- include 'book_row.j2' -%}
        {%- endfor %}
        <div class="ajax-insertion-point" data-url="{{ url_for('books.loading') }}"></div>
    </div>
{%- endblock %}