{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Partners front heading') }}</h1>
	<a href="/"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}" /></a>
	<div class="clear-both"></div>

    <div class="">
        {% for info in grouped_partners.values() -%}
            {% if info.partners -%}
                <h2>{{ info.category.name }}</h2>
                <div class="person-grid">
                    {% for person in info.partners -%}
                        <a href="{{ url_for('partners.partner_card', slug=person.slug) }}" class="person-grid-person">
                            {% if person.list_photo and person.list_photo.original() -%}
                                <img src="{{ url_for('public', filename=person.list_photo.original()) }}" />
                            {%- endif %}
                            <h3 class="person-grid-name">{{ person.fullname|replace(' ', '<br />', 1) }}</h3>
                        </a>
                    {%- endfor %}
                    <div class="person-grid-spacer"></div>
                    <div class="person-grid-spacer"></div>
                    <div class="person-grid-spacer"></div>
                    <div class="person-grid-spacer"></div>
                    <div class="person-grid-spacer"></div>
                </div>
            {%- endif %}
        {%- endfor %}
    </div>
{%- endblock %}