{% extends 'common.j2' %}

{% block content -%}
    <div class="person-card-person">
        <video playsinline autoplay="autoplay" loop="loop"{% if person.photo and person.photo.original() %} poster="{{ url_for('public', filename=person.photo.original()) }}"{% endif %}>
            {%- if person.video and person.video.original() -%}
                <source src="{{ url_for('public', filename=person.video.original()) }}" />
            {%- endif -%}
        </video>

		<div class="person-card-info">
            <div>
                <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}" /></a>
            </div>
			<div>
                <h1>{{ person.fullname }}</h1>
                <div class="person-card-position">
                    {{ person.positions_as_text() }}
                </div>
                {% if person.bio -%}
                    <div class="bio-link">
                        <a href="#bio">{{ _('Biography front link') }}</a>
                    </div>
                {%- endif %}
                <video class="mobile" playsinline autoplay="autoplay" loop="loop"{% if person.photo and person.photo.original() %} poster="{{ url_for('public', filename=person.photo.original()) }}"{% endif %}>
					{%- if person.video and person.video.original() -%}
                        <source src="{{ url_for('public', filename=person.video.original()) }}" />
                    {%- endif -%}
				</video>
                <div class="person-card-specialization">
                    {{ person.specialty|textile }}
                </div>
            </div>
		</div>
        <div class="person-card-info-spacer"></div>
        {% if prev_partner -%}<a href="{{ url_for('partners.partner_card', slug=prev_partner.slug) }}" class="person-card-prev"></a>{%- endif  %}
        {% if next_partner -%}<a href="{{ url_for('partners.partner_card', slug=next_partner.slug) }}" class="person-card-next"></a>{%- endif %}
	</div>

    {% if workcases -%}
        <div id="person-card-slider">
            <div id="viewport">
                <ul>
                    {% for case in workcases -%}
                    <li>
                        <p>{{ case.short_description }}</p>
                        <p><big>{{ case.result }}</big></p>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
            <div id="circles">
                {% for case in workcases -%}
                    <div data-slide="{{ loop.index }}"{% if loop.first %} class="current"{% endif %}></div>
                {%- endfor %}
            </div>
        </div>
    {%- endif %}

    <div id="bio" class="person-card-bio">
        {% if person.list_photo and person.list_photo.original() -%}
		    <img src="{{ url_for('public', filename=person.list_photo.original()) }}">
        {%- endif %}

        {%- set positions = person.positions_as_text() %}
        <p><span>{{ person.fullname }}</span>{% if positions %} — {{ positions|lower() }}{% endif %}</p>
        {% if person.registry_no %}<p>{{ person.registry_no }}</p>{% endif %}

        {% if person.bio -%}
            <p>{{ _('Biography front string') }}</p>
            {{ person.bio|textile }}
        {%- endif %}
	</div>
{%- endblock %}