{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Analytics front heading') }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}" /></a>

    <div class="tabs">
        <nav>
            <ul>
                <a href="{{ url_for('analytics.analytics') }}" class="active"><li>{{ _('All analytics front tabname') }}</li></a>
                <a href="{{ url_for('analytics.analytics_by_authors') }}"><li>{{ _('Authors analytics front tabname') }}</li></a>
                <a href="{{ url_for('analytics.analytics_by_themes') }}"><li>{{ _('Themes analytics front tabname') }}</li></a>
            </ul>
        </nav>

        <div class="tab">
            {% for analytics in analytics_list -%}
                {% include 'analytics_all_row.j2' %}
            {%- endfor %}
            <div class="ajax-insertion-point" data-url="{{ url_for('analytics.loading') }}"></div>
        </div>
    </div>
{%- endblock %}