{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/base.j2' import render_trash_icon, render_bool %}
{% from 'admin/api/forms.j2' import render_field %}

{% set form_action = url_for('admin.partners_manage_category', category_id=category_id) if category else url_for('admin.partners_categories') %}
{% set form_not_horizontal = True %}
{% block page_title %}{{ _('Partners categories list heading') }}{% endblock %}
{% block page_buttons %}
    {% if category %}
        {% if not category.in_trash -%}
            <button class="uk-button uk-button-primary" name="save">{{ _('Save button') }}</button>
        {%- endif %}
        {% if category and category_id %}
            {% if category.in_trash -%}
                <span>{{ _('Object in trash string') }}</span>
                <button class="uk-button uk-button-success" name="restore">{{ _('Restore button') }}</button>
            {%- endif %}
            <button class="uk-button uk-button-danger" name="delete">{{ _('Delete button') if category.in_trash else _('In trash button') }}</button>
        {% endif %}
        <a href="{{ url_for('admin.partners_categories') }}" class="uk-button">{{ _('Cancel button') }}</a>
    {% else %}
        <button class="uk-button uk-button-success" name="save_order">{{ _('Save order button') }}</button>
        <a href="{{ url_for('admin.partners_manage_category') }}" class="uk-button uk-button-primary">{{ _('Add button') }}</a>
    {% endif %}
{% endblock %}
{% block page_content %}
    {% if category %}
        {{ form.hidden_tag() }}
    {% endif %}

    <div class="uk-overflow-container">
        <div class="uk-sortable" data-uk-sortable>
            {% if category and not category_id %}
                <div class="uk-margin-small-bottom">
                    <div class="uk-panel uk-panel-box uk-width-1-1">
                        <div class="uk-margin-small-left uk-margin-small-right">
                            <table class="uk-width-1-1">
                                <tbody>
                                    <tr>
                                        <td class="uk-width-5-10">{{ render_field(form.ru_name, label=True, disabled=position.in_trash) }}</td>
                                        <td class="uk-width-5-10">{{ render_field(form.en_name, label=True, disabled=position.in_trash) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% for category in categories -%}
                <div class="uk-margin-small-bottom">
                    <div class="uk-panel uk-panel-box uk-width-1-1">
                        <div class="uk-margin-small-left uk-margin-small-right">
                            <table class="uk-width-1-1">
                                <tbody>
                                    <tr>
                                        <td class="uk-width-5-10">
                                            {% if category_id == category.id -%}
                                                {{ render_field(form.ru_name, label=True, disabled=category.in_trash) }}
                                            {%- else -%}
                                                {{ render_trash_icon(category.in_trash) }}
                                                <a href="{{ url_for('admin.partners_manage_category', category_id=category.id) }}">{{ category.ru_name }}</a>
                                            {%- endif %}
                                        </td>
                                        <td class="uk-width-5-10">
                                            {% if category_id == category.id -%}
                                                {{ render_field(form.en_name, label=True, disabled=category.in_trash) }}
                                            {%- else -%}
                                                <a href="{{ url_for('admin.partners_manage_category', category_id=category.id) }}">{{ category.en_name }}</a>
                                            {%- endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="priority" value="{{ category.id }}">
                        </div>
                    </div>
                </div>
            {%- endfor %}
        </div>
    </div>
{% endblock %}