{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/base.j2' import render_trashed %}
{% from 'admin/api/forms.j2' import render_field %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            $('#list_photo.file-uploader').fileinput({
                'allowedFileExtensions': ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                'showCancel': false,
                {% if person.in_trash -%}
                    'showBrowse': false,
                    'showRemove': false,
                    'showClose': false,
                    'showCaption': false,
                {%- endif %}
                'previewZoomSettings': false,
                {% if person.list_photo.preview() and person.list_photo.url -%}
                    'initialPreview': [
                        '<img class="file-preview-image" src="{{ url_for('public', filename=person.list_photo.preview()) }}" alt=""><input type="hidden" name="{{ form.list_photo.id }}" value="already" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ person.list_photo.original_filename|tojson if person.list_photo.original_filename else ''|tojson }},
                {%- endif %}
            });
            $('#photo.file-uploader').fileinput({
                'allowedFileExtensions': ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                'showCancel': false,
                {% if person.in_trash -%}
                    'showBrowse': false,
                    'showRemove': false,
                    'showClose': false,
                    'showCaption': false,
                {%- endif %}
                'previewZoomSettings': false,
                {% if person.photo.preview() and person.photo.url -%}
                    'initialPreview': [
                        '<img class="file-preview-image" src="{{ url_for('public', filename=person.photo.preview()) }}" alt=""><input type="hidden" name="{{ form.photo.id }}" value="already" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ person.photo.original_filename|tojson if person.photo.original_filename else ''|tojson }},
                {%- endif %}
            });
        });
    </script>
{%- endblock %}

{% set form_action = url_for('admin.persons_manage_person', person_id=person_id) %}
{% set form_enctype = 'multipart/form-data' %}
{% block page_title %}{{ _('Add person heading') if not person_id else person.fullname }}{% endblock %}

{% block page_buttons %}
    {% if not person.in_trash -%}
        <button class="uk-button uk-button-primary" name="save">{{ _('Save button') }}</button>
        <button class="uk-button uk-button-primary" name="save_and_continue">{{ _('Save and continue button') }}</button>
    {%- endif %}
    {% if person and person_id %}
        {% if person.in_trash -%}
            <span>{{ _('Object in trash string') }}</span>
            <button class="uk-button uk-button-success" name="restore">{{ _('Restore button') }}</button>
        {%- endif %}
        <button class="uk-button uk-button-danger" name="delete">{{ _('Delete button') if person.in_trash else _('In trash button') }}</button>
    {% endif %}
    <a href="{{ url_for('admin.persons_persons') }}" class="uk-button">{{ _('Cancel button') }}</a>
{% endblock %}

{% block page_content %}
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' -%}
        <div class="uk-form-row">
            {{ render_field(field, disabled=person.in_trash) }}
        </div>
    {%- endfor %}
{% endblock %}