{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/forms.j2' import render_field %}

{% set form_action = url_for('admin.persons_manage_position', position_id=position_id) if position else url_for('admin.persons_positions') %}
{% block page_title %}{{ _('Positions list heading') }}{% endblock %}
{% block page_buttons %}
    {% if position %}
        <button class="uk-button uk-button-primary" name="save">{{ _('Save button') }}</button>
        {% if position and position_id %}
            <button class="uk-button uk-button-danger" name="delete">{{ _('Delete button') }}</button>
        {% endif %}
        <a href="{{ url_for('admin.persons_positions') }}" class="uk-button">{{ _('Cancel button') }}</a>
    {% else %}
        <a href="{{ url_for('admin.persons_manage_position') }}" class="uk-button uk-button-primary">{{ _('Add button') }}</a>
    {% endif %}
{% endblock %}
{% block page_content %}
    {% if position %}
        {{ form.hidden_tag() }}
    {% endif %}

        <table class="uk-table uk-table-hover">
            <tbody>
                {% if position and not position_id %}
                    <tr>
                        <td>{{ render_field(form.name, label=False) }}</td>
                    </tr>
                {% endif %}
                {% if positions %}
                    {% for pos in positions %}
                        <tr>
                            <td>
                                {% if position_id == pos.id %}
                                    {{ render_field(form.name, label=False) }}
                                {% else %}
                                    <a href="{{ url_for('admin.persons_manage_position', position_id=pos.id) }}">{{ pos.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td><h3 class="uk-text-center uk-text-muted">{{ _('No positions found string') }}</h3></td></tr>
                {% endif %}
            </tbody>
        </table>

{% endblock %}