* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; font: 12pt/1.1 'PT Sans', sans-serif; font-weight: 300; background: #fff; color: #000; }
body { top: 0; left: 0; position: relative; padding-top: 3.7em; }
header { width: 100%; padding: 1em 0; background: #203c80; position: fixed; top: 0; left: 0; right: 0; z-index: 100; }
.mobile { display: none; }

h1, h2, h3, h4, h5, h6 { font-family: 'PT Serif', serif; font-weight: normal; margin: 1em 0 0.5em 0; }
h1 { font-size: 33pt; margin-top: 0; }

p { margin: 0 0 1em 0; line-height: 1.1; }

a, .main-subheader { color: #203c80; }
a.current { text-decoration: none; }

#logo { height: 64px; position: relative; left: -4px; z-index: 1; }
#logo.logo-large { height: 100px; }

header nav { max-width: 1600px; margin: 0 auto; padding: 0 1em; font: 14pt/1.5 'PT Sans', sans-serif; font-weight: 400; }
header nav a { margin: 0 .5em; color: #fff; }
header nav a:first-child { margin: 0 .5em 0 0; }
header nav div { display: inline-block; float: right; margin-right: -.6667em; }

.search-icon { height: 24px; padding-right: 0.3333em; vertical-align: middle; }

article { clear: both; z-index: -1; max-width: 1600px; margin: 0 auto; padding: 2em 1em 0 1em; }

footer { padding: 1em; font-size: 12pt; border-top: 1px solid #ccc; font-family: 'PT Serif', serif; line-height: 1; padding-bottom: 2em; clear: both; }
footer div { max-width: 1600px; margin: 0 auto; padding: 0em 1em 0 1em; }
footer ul { list-style-type: none; -webkit-margin-before: 0; -webkit-padding-start: 0; padding: 0; display: flex; flex-flow: row wrap; }
footer ul li { width: 25%; margin: 0; padding: 0 1em 1em 0; }
footer h2 { color: #314b5e; font-size: 14pt; }
footer img { margin-right: 1em; }
footer a { font-size: 9pt; }

.foot-copyright { font-size: 8pt; color: #7d7d7d; margin-top: 1em; line-height: 1.5; }
.foot-address { font-size: 9pt; color: #bfbfbf; margin-top: 1em; }
.foot-phone a { font-size: 11pt; color: #000; text-decoration: none; display: inline-block; }

.hr { border-bottom: 1px solid #ccc; position: absolute; left: 0; right: 0; }

.float-right { float: right; margin-left: 1em; margin-bottom: 1em; }
.float-left { float: left; margin-right: 1em; margin-bottom: 1em; }
.float-left, .float-right { margin-bottom: 1em; }
.clear-both, .tabs { clear: both; }

img { max-width: 100%; }

/* MAIN PAGE */

.main-spacer { margin-bottom: 5em; }

.main-header { font: 28pt/1.5 'PT Serif', serif; margin: 1em auto 0; display: table; white-space: nowrap; }
.main-header span { font-size: 64pt; line-height: 0; }
.main-subheader { font-size: 14pt; text-align: right; padding: .5em 0; }

.main-case { background-size: contain; background-repeat: no-repeat; font-family: "PT Serif", serif; overflow: hidden; position: relative; }
.main-case-1 { background-position: 80% 0; background-image: url(/assets/images/folder1.jpg); height: 291px; }
.main-case-2 { background-position: 80% 0; background-image: url(/assets/images/folder2.jpg); height: 279px; }
.main-case-3 { background-position: 92% 0; background-image: url(/assets/images/folder3.jpg); height: 286px; }
.main-case-4 { background-position: 92% 0; background-image: url(/assets/images/folder4.jpg); height: 307px; }
.main-case-photo { width: 150px; height: 150px; border: 1px solid #203c80; border-radius: 150px; position: relative; overflow: hidden; z-index: 10; background-color: #fff; }
.main-case-photo img { width: 100%; }
.main-case-name, .main-case-position { width: 20%; }
.main-case-name { padding-top: .75em; line-height: 1.2; }
.main-case-position { font-size: 80%; }
.main-case-text { background: #fff; box-shadow: 1px 1px 3px rgba(0,0,0,.5); width: 400px; padding: 1em 1em 1em 4em; position: absolute; left: 38%; top: 30px; }
.main-case-2 .main-case-text { left: 39%; }
.main-case-3 .main-case-text, .main-case-4 .main-case-text { left: 45.5%; }
.main-case-text span { font-size: 120%; color: #203c80; }
.main-case-text:before { content: ''; width: 10px; height: 10px; position: absolute; top: 41px; right: 90%; display: block; background: #203c80; border-radius: 10px; }
.main-case-text:after { content: ''; width: 2000px; height: 1px; position: absolute; top: 45px; right: 90%; display: block; background: #203c80; }

/* ARTICLE */

/* ANALYTICS */

.tabs > nav > ul { width: 100%; display: flex; margin-right: -1px; list-style: none; padding: 0; }
.tabs > nav > ul > label > li { background: #ccc; margin-right: 1px; padding: .6667em; font-size: 120%; }
.tabs > nav > ul > label { flex-grow: 1; text-align: center; font-family: 'PT Serif', serif; color: #203c80; cursor: pointer; }
.tabs > nav > ul > label.active { cursor: default; }

.tabs .tab, .tabs .tab-switch { display: none; }
.tabs .tab-switch:checked + .tab { display: block; }

.tabs nav ul .active li { color: #fff; background: #203c80; }

.analytics-list-title { text-decoration: none; font-size: 80%; }

.authors-list { font-size: 120%; font-family: "PT Serif", serif; text-decoration: none; line-height: 1.667; }
.columns { columns: 3; margin: 0 0 2em 0; }

@media screen and (max-width: 1000px){
	.columns { columns: 1; }
}

/* BOOKS AND PRESS CENTER */

.breadcrumbs, .press-card-date { font-family: 'PT Serif', serif; font-size: 80%; line-height: 1.5; }
.book-title, .press-card-title { text-align: center; font-size: 200%; }
.book-card-authors, .book-card-series { text-align: center; font-family: 'PT Serif', serif; font-size: 120%; line-height: 1.5; }
.book-card-authors a, .book-card-series a { text-decoration: none; }
.book-card-cover-info, .press-card-image { display: flex; }
.book-card-cover-info > *, .press-card-image > * { flex-grow: 1; }
.book-card-cover { margin: 0 0 0 auto; display: block; padding: 0 0 0 4em; }
.book-card-info { color: #888; font-style: italic; padding: 5em 0 0 4em; }
.press-card-image { margin: 0 auto; }
.press-card-image div { text-align: center; }
.book-card-announce, .press-card-announce { font-family: 'PT Serif', serif; font-size: 120%; text-align: center; color: #203c80; margin-bottom: 2em; }

.book-list-item, .press-list-item-with-image { min-height: 120px; margin-bottom: 2em; }
.book-list-item img, .press-list-item-with-image img { width: 60px; position: absolute; }
.book-list-item div, .book-list-item h2, .press-list-item-with-image div, .press-list-item-with-image h2 { padding-left: 80px; }
.book-list-authors { font-family: 'PT Serif', serif; margin-bottom: .5em; }

.press-list-item h2 { margin-top: 0; }

/* PERSON LIST */

.person-list-person { margin: 1em 0; }

.person-list-person { display: block; min-height: 300px; background-size: 300px; background-position: 100% 0%; background-repeat: no-repeat; }
.clear { clear: both; }
.person-list-name { margin: 0; }
.person-list-position, .person-card-position { color: #203c80; margin-bottom: 0.5em; font-family: 'PT Serif', serif; }

.person-list-person div { margin-right: 320px; }

.person-grid { display: flex; flex-flow: row wrap; justify-content: space-between; }
.person-grid-person { text-align: center; margin-bottom: 4em; display: flex; flex-flow: column nowrap; justify-content: flex-start; }
.person-grid-spacer { display: flex; }
.person-grid-person img { width: 100%; height: auto; min-height: 1px; /* IE fix */ }
.person-grid-person, .person-grid-spacer { max-width: 300px; width: 17%; }

@media screen and (max-width: 1300px){
	.person-grid-person, .person-grid-spacer { width: 22%; }
}

@media screen and (max-width: 1000px){
	.person-grid-person, .person-grid-spacer { width: 29%; }
}

@media screen and (max-width: 640px){
	.person-grid-person, .person-grid-spacer { width: 47%; }
}

@media screen and (max-width: 400px){
	.person-grid-person, .person-grid-spacer { width: 100%; }
}

/* PERSON CARD */

/*.person-card-person { margin: -5.667em -1em 4em 0; position: relative; }*/
.person-card-person { margin: -2em -1em 1em 0; position: relative; }

/*.person-card-person #logo { top: 3.667em; }*/

/*.person-card-person video { position: absolute; top: 3.7em; right: 0; width: 60vw; height: auto; }*/
.person-card-person video { position: absolute; top: 0; right: 0; width: 60vw; height: auto; }
.person-card-info { background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%); height: 34vw; width: 60%; display: flex; flex-direction: column; justify-content: space-between; position: absolute; }
.person-card-info-spacer { height: 34vw; }
.person-card-info { padding-top: 2em; }
.person-card-info h1 { font-family: 'PT Serif', serif; font-size: 20pt; }
.person-card-info > div { padding-right: 10%; padding-left: 3em; flex-grow: 1; display: flex; justify-content: center; flex-direction: column; }
.person-card-info > div:first-child { flex-grow: 0; display: block; padding-left: 0; }
.person-card-info > div > * { max-width: 600px; }

.person-card-prev, .person-card-next { position: absolute; top: 50%; width: 3em; height: 3em; display: block; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; }
.person-card-prev { left: -.5em; background-image: url(/assets/images/arrow-left.svg); }
.person-card-next { right: .5em; background-image: url(/assets/images/arrow-right.svg); }

#person-card-slider { min-height: 100px; margin: 0 0 1em 0; color: #203c80; }
#person-card-slider ul { list-style-type: none; padding: 0; }
#person-card-slider ul li { padding-left: 48px; background: url(/assets/images/case.svg) 0 0 no-repeat; background-size: 36px; }

#viewport { width: 100%; display: table; position: relative; user-select: none; overflow: hidden; }
#viewport ul { position: relative; width: calc(100% * 4); top: 0; left: 0; transition: 0.5s; transition-timing-function: ease-in-out; }
#viewport ul li { width: calc(100% / 4); display: inline-block; float: left; }

.person-card-specialization { margin-top: 1em; }

#bio { display: none; overflow: hidden; background: #fff url(/assets/images/close.svg) calc(100% - 20px) 20px no-repeat; border: 1px solid #203c80; width: 70vw; left: 50vw; margin-left: -35vw; max-height: calc(80vh - 3.7em); overflow-y: auto; position: absolute; top: 3.7em; padding: 4em 2em 1em 2em; z-index: 1; }

big, .bio-link { font-family: 'PT Serif',serif; }

.person-card-bio img { width: 120px; height: 120px; border: 1px solid #203c80; border-radius: 150px; position: relative; overflow: hidden; z-index: 10; background-color: #fff; float: left; margin: 0 1em 1em 0; }

.person-card-bio h2 { clear: both; }

.person-card-bio span, .person-card-bio h2 { font-family: 'PT Serif', serif; font-size: 120%; color: #203c80; }

#circles { text-align: center; }
#circles > div { display: inline-block; border: 1px solid #203c80; width: 1em; height: 1em; border-radius: 1em; margin: .1em; }
#circles > div.current { background: #203c80; }

/* COMPETENCES */

.competences { background: url(/assets/images/competences.jpg) 50% 0 no-repeat; height: 681px; }
.competences > div { width: 839px; margin: 0 auto; position: relative; }
.competences-1, .competences-2, .competences-3, .competences-4 { position: absolute; }
.competences-1 { top: 44px; left: 0px; width: 329px; }
.competences-2 { top: 44px; left: 520px; width: 319px; }
.competences-3 { top: 356px; left: 428px; width: 402px; }
.competences-4 { top: 546px; left: 313px; width: 384px; }
.competences h2 { font-family: 'PT Serif', serif; font-size: 120%; color: #203c80; line-height: 1.2; margin: 0 0 1em 0; }
.competences p { margin: 0 0 .5em 0; }

/* CONTACTS */

ymaps { max-height: 75vh ! important; }

/* MOBILE */

@media screen and (max-width: 900px){
	#logo { position: fixed; top: 4px; left: .5em; height: 60px; z-index: 101; }
	#logo.logo-large { height: 60px; }

	header { background: #fff; border-bottom: 1px solid #888; color: #203c80; height: 4.5em; }
	header nav.large { display: none; }
	header nav.mobile { display: block; position: absolute; top: 3.8em; left: 0; width: 100%; height: 0; overflow: hidden; border-bottom: 2px solid #203c80; z-index: 10000; }
	header #menu:checked + nav.mobile { height: auto; }
	header nav.mobile a, header nav.mobile div { display: block; margin: 0 -.5em; padding: .33em .4em; color: #203c80; background: #fff; text-decoration: none; font-size: 200%; border-top: 2px solid #203c80; z-index: 1; float: none; }
	header nav.mobile img { position: relative; top: 6px; }
	header nav.mobile input { border: none; margin-left: .5em; font-size: 90%; width: calc(100% - 2em); }

	label.mobile { display: block; position: absolute; top: 3px; right: 10px; height: 60px; }

	footer { border-top: none; background: #203c80; }
	footer, footer h2, footer a, .foot-copyright, .foot-address, .foot-phone a { color: #fff; }

	.float-right, .float-left { float: none; text-align: center; margin-left: 0; margin-right: 0; }

	.book-card-cover-info, .press-card-image { display: block; }
	.book-card-info { padding: 1em 0; text-align: center; }
	.book-card-info div { margin: 0 auto; }

	.book-list-item, .press-list-item-with-image { min-height: 0; }
	.book-list-item img, .press-list-item-with-image img { min-width: 20vw; max-width: 80vw; position: initial; margin: 0 auto; display: block; }
	.book-list-item div, .book-list-item h2, .press-list-item-with-image div, .press-list-item-with-image h2 { padding-left: 0; }
	.book-list-item h2, .book-list-authors { text-align: center; }

	.competences { background-image: none; height: auto; padding: 0 1em; }
	.competences > div { width: auto; }
	.competences > div > div { margin-bottom: 2em; }
	.competences-1, .competences-2, .competences-3, .competences-4 { position: initial; width: auto; }

	.person-card-specialization { display: none; }
	.person-card-person > video { display: none; }
	.person-card-info { height: auto; width: 100%; position: initial; }
	.person-card-info video.mobile { display: block; width: calc(100% + 1em); position: initial; margin-top: 1em; margin-left: -1em; }
	.person-card-info > div { padding: 0; }
	.person-card-info > div > * { max-width: unset; }
	.person-card-info-spacer { display: none; }
	.person-card-prev, .person-card-next { top: 66.67%; }
}

@media screen and (max-width: 1000px) {
	/*.person-grid:after, .person-grid-person { width: 44%; }*/
}

@media screen and (max-width: 640px) {
	/*.person-grid:after, .person-grid-person { width: 100%; }*/
}