@import "~uikit/dist/css/uikit.min.css";
@import "~uikit/dist/css/uikit.almost-flat.min.css";
@import "~uikit/dist/css/components/datepicker.min.css";
@import "fileinput.css";
@import "textile-widget.css";
@import "imgs.css";

.file-input > .file-preview {
    float: left;
    width: auto;
    margin-right: 2rem;
    position: relative;
}
.file-input > .file-preview::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.file-input > .file-preview > .fileinput-remove {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.2rem;
}
.file-input > .hide {
    display: none;
}
.file-input > .kv-upload-progress,
.file-input > .input-group {
    overflow: hidden;
}