.image-wrapper {
    display: table-caption;
    width: 150px;
    height: 100%;
}
.image-loader {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.image-loader input {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(20);
    opacity: 0;
}

.file-upload-button:before {
    content: "+";
    display: block;
}
.thumb-image {
  float: left;
  height: auto;
  width: 150px;
  position: relative;
}