{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ page_heading }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}"></a>
    <div class="clear-both"></div>

    <img class="float-left" src="{{ asset_url_for('images/article1.jpg') }}">
    <p>Адвокатская фирма «Юстина» является ведущей юридической фирмой России в области разрешения судебных споров.</p>
    <p>Начиная с 1992 года мы занимаемся защитой.</p>
    <p>Мы защищаем бизнес клиентов, их собственность и интересы.</p>
    <p>В сферу наших профессиональных интересов, где мы полезны и эффективны своему клиенту, заключены сложные общеэкономические, банкротные, корпоративные, антимонопольные, налоговые споры, защита по уголовным делам, а также суд присяжных.</p>
    <p>Приобретенный нашими адвокатами в залах судебных заседаний уникальный профессиональный опыт, ответственная командная работа, индивидуальный подход, узнаваемость объединяющего нас имени — Адвокатская фирма ЮСТИНА, позволяет клиенту доверить нам свою защиту.</p>
{%- endblock %}