{% extends 'base.j2' %}

{% block css -%}
    {{ super() }}
    {{ stylesheet_tag('yustina_css') }}
{%- endblock %}

{% block js -%}
    {{ super() }}
    {{ javascript_tag('yustina_js') }}
{%- endblock %}

{% block body -%}
    {% include 'head.j2' %}
    <article>
        {% block content %}{% endblock %}
    </article>

    {% block body_content %}{% endblock %}

    {% include 'foot.j2' %}
{%- endblock %}