<footer>
	<div class="foot-phone"><a href="tel:+74956953525">+7 495 695-35-25</a>, <a href="tel:+74956974353">697-43-53</a></div>
	<div class="foot-address">Компания «Юстина»: 119002, г. Москва, Глазовский пер., д. 7. <a href="">Схема проезда</a></div>
	<div class="foot-copyright">© 2007–2017 г. Исключительные права на результаты интеллектуальной деятельности, размещенные на настоящем информационном ресурсе, принадлежат адвокатскому бюро «Адвокатская фирма „Юстина“» и охраняются в соответствии с законодательством РФ. Любое использование результатов интеллектуальной деятельности допускается исключительно с предварительного письменного согласия правообладателя. Несанкционированное использование влечет предусмотренную законом ответственность.</div>
</footer>