<header>
    <nav class="nav-upper">
        {# TODO: Меню #}
        <a href="article.html">О фирме</a>
        <a href="">Услуги</a>
        <a class="current" href="person-list.html">Партнеры</a>
        <a href="{{ url_for('press.news') }}">Пресс-центр</a>
        <a href="">Аналитика</a>
        <a href="book-list.html">Книги</a>
        <div>
            <a href=""><img class="search-icon" src="{{ asset_url_for('images/search-icon.svg') }}" /></a>
            {% for code, name in config['LANGUAGES'].items() if code != g.current_language -%}
                <a href="{{ url_for('setlang', language=code) }}">{{ name }}</a>
            {%- endfor %}
        </div>
    </nav>
</header>