<header>
    <nav class="nav-upper">
        {# TODO: Меню #}
        <a href="article.html">О фирме</a>
        <a href="">Услуги</a>
        <a class="current" href="person-list.html">Партнеры</a>
        <a href="{{ url_for('press.news') }}">Пресс-центр</a>
        <a href="">Аналитика</a>
        <a href="book-list.html">Книги</a>
        <div>
            <a href=""><img class="search-icon" src="" /></a>
            <a href="">English</a>
        </div>
    </nav>
</header>