{% extends 'common.j2' %}

{% block content -%}
    <img id="logo" class="logo-large" src="{{ asset_url_for('images/logoblue2.svg') }}" />
	<div class="main-header">
        {{ ngettext('%(num)d case', '%(num)d cases', settings.total_cases) }}
        {{ ngettext('for %(num)d year', '%(num)d years', full_years) }}
		<div class="main-subheader">{{ _('Company slogan front string') }}</div>
	</div>

	<div class="hr"></div>
	<div class="main-spacer"></div>

    <div class="main">
		<div>
			{% for case in cases -%}
                {% if loop.index % 4 == 0 -%}
                    {%- set idx = 4 -%}
                {%- elif loop.index % 3 == 0 -%}
                    {%- set idx = 3 -%}
                {%- elif loop.index % 2 == 0 and loop.index % 4 != 0 -%}
                    {%- set idx = 2 -%}
                {%- else -%}
                    {%- set idx = 1 %}
                {%- endif %}
                {%- include 'workcase_row.j2' with context -%}
            {%- endfor %}
 			<div class="ajax-insertion-point" data-url="{{ url_for('index_loading') }}"></div>
		</div>
	</div>
{%- endblock %}