{% extends 'admin/common.j2' %}

{% block content %}
    <form id="content-area" class="uk-form {{ 'uk-form-horizontal' if not form_not_horizontal else '' }}" action="{{ form_action }}" method="{{ form_method or 'POST' }}">
        <div class="uk-margin uk-flex uk-flex-space-between uk-flex-wrap" data-uk-margin>
            <div class="uk-flex uk-flex-middle uk-flex-wrap" data-uk-margin>
                <h2>{% block page_title %}{% endblock %}</h2>
            </div>
            <div data-uk-margin>
                {% block page_buttons %}{% endblock %}
            </div>
        </div>

        <div class="uk-overflow-container">
            {% block page_content %}{% endblock %}
        </div>
    </form>
{% endblock %}