{% extends 'common.j2' %}

{% block content -%}
    <h1 class="float-right">{{ _('Competences front heading') }}</h1>
    <a href="{{ url_for('index') }}"><img id="logo" src="{{ asset_url_for('images/logoblue2.svg') }}"></a>
    <div class="clear-both"></div>
{% endblock %}

{% block body_content -%}
	<div class="competences">
		<div>
			<div class="competences-1">
				<h2>Представление интересов клиентов в арбитражных судах и судах общей юрисдикции по спорам в сфере:</h2>
				<p>— общеэкономических отшношений;</p>
				<p>— недвидимости (собственности);</p>
				<p>— корпоративного права (ценных бумаг);</p>
				<p>— несостоятельности (банкротства);</p>
				<p>— налогов;</p>
				<p>— интеллектуальной собственности;</p>
				<p>— обжалования действий государственных органов;</p>
				<p>— брачно-семейных отношений;</p>
				<p>— раздела наследственного имущества;</p>
				<p>— а также комплексные судебные проекты, соединяющие в себе различные типы споров.</p>
			</div>
			<div class="competences-2">
				<h2>Представление доверителей при рассмотрении дел административными и квазисудебными органами, в том числе:</h2>
				<p>— Федеральной антимонопольной службой;</p>
				<p>— Центральным банком;</p>
				<p>— Федеральной налоговой службой.</p>
			</div>
			<div class="competences-3">
				<h2>Защита доверителей по уголовным делам по экономическим и должностным преступлениям (white collar crime — беловоротничковая преступность).</h2>
			</div>
			<div class="competences-4">
				<h2>Защита в суде присяжных.</h2>
			</div>
		</div>
	</div>
{%- endblock %}