{% extends 'admin/common_layout.j2' %}
{% from 'admin/api/base.j2' import render_trash_icon, render_bool %}
{% from 'admin/api/forms.j2' import render_field %}

{% set form_action = url_for('admin.persons_manage_position', position_id=position_id) if position else url_for('admin.persons_positions') %}
{% set form_not_horizontal = True %}
{% block page_title %}{{ _('Positions list heading') }}{% endblock %}
{% block page_buttons %}
    {% if position %}
        {% if not position.in_trash -%}
            <button class="uk-button uk-button-primary" name="save">{{ _('Save button') }}</button>
        {%- endif %}
        {% if position and position_id %}
            {% if position.in_trash -%}
                <span>{{ _('Object in trash string') }}</span>
                <button class="uk-button uk-button-success" name="restore">{{ _('Restore button') }}</button>
            {%- endif %}
            <button class="uk-button uk-button-danger" name="delete">{{ _('Delete button') if position.in_trash else _('In trash button') }}</button>
        {% endif %}
        <a href="{{ url_for('admin.persons_positions') }}" class="uk-button">{{ _('Cancel button') }}</a>
    {% else %}
        <button class="uk-button uk-button-success" name="save_order">{{ _('Save order button') }}</button>
        <a href="{{ url_for('admin.persons_manage_position') }}" class="uk-button uk-button-primary">{{ _('Add button') }}</a>
    {% endif %}
{% endblock %}
{% block page_content %}
    {% if position %}
        {{ form.hidden_tag() }}
    {% endif %}

    <div class="uk-overflow-container">
        <div class="uk-sortable" data-uk-sortable>
            {% if position and not position_id %}
                <div class="uk-margin-small-bottom">
                    <div class="uk-panel uk-panel-box uk-width-1-1">
                        <div class="uk-margin-small-left uk-margin-small-right">
                            <table class="uk-width-1-1">
                                <tbody>
                                    <tr>
                                        <td class="uk-width-5-10">{{ render_field(form.name, label=True, disabled=position.in_trash) }}</td>
                                        <td class="uk-width-5-10">{{ render_field(form.heading, label=True, disabled=position.in_trash) }}</td>
                                        <td class="uk-text-center uk-width-1-10">{{ render_field(form.public_group, label=False, disabled=position.in_trash) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% for pos in positions -%}
                <div class="uk-margin-small-bottom">
                    <div class="uk-panel uk-panel-box uk-width-1-1">
                        <div class="uk-margin-small-left uk-margin-small-right">
                            <table class="uk-width-1-1">
                                <tbody>
                                    <tr>
                                        <td class="uk-width-5-10">
                                            {% if position_id == pos.id -%}
                                                {{ render_field(form.name, label=True, disabled=position.in_trash) }}
                                            {%- else -%}
                                                {{ render_trash_icon(pos.in_trash) }}
                                                <a href="{{ url_for('admin.persons_manage_position', position_id=pos.id) }}">{{ pos.name }}</a>
                                            {%- endif %}
                                        </td>
                                        <td class="uk-width-5-10">
                                            {% if position_id == pos.id -%}
                                                {{ render_field(form.heading, label=True, disabled=position.in_trash) }}
                                            {%- else -%}
                                                {{ pos.heading }}
                                            {%- endif %}
                                        </td>
                                        <td class="uk-text-center uk-width-1-10">
                                            {% if position_id == pos.id -%}
                                                {{ render_field(form.public_group, label=False, disabled=position.in_trash) }}
                                            {%- else -%}
                                                {{ render_bool(pos.public_group) }}
                                            {%- endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="priority" value="{{ pos.id }}">
                        </div>
                    </div>
                </div>
            {%- endfor %}
        </div>
    </div>
{% endblock %}